@import "tailwindcss";

:root {

    --color-fprimary-100: #4B8B9F;
    --color-fprimary-100-rgb: 75, 139, 159;
    --color-fprimary-200: #3A6C7B;
    --color-fprimary-300: #2A4B5D;
    --color-fprimary-400: #437D8E;

    --color-fsecondary-100: #386776;
    --color-fsecondary-100-rgb: 56, 103, 118;
    --color-fsecondary-200: #34616F;

    --color-fblack-100: #000000;
    --color-fblack-200: #1B2528;
}

body {
    font-family: 'Public Sans', sans-serif;
}

@layer utilities {
    .animate-fade-in {
        @apply opacity-0;
        animation: fadeIn 0.6s ease-out forwards;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
}